apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: inference-ingress
  namespace: default
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /v1/infer
            pathType: Prefix
            backend:
              service:
                name: envoy
                port:
                  number: 8080
