apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-tracking-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow-server
          image: ghcr.io/mlflow/mlflow:v2.0.1
          ports:
            - containerPort: 5000
          env:
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "http://minio-service:9000"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: mlflow-minio-secret
                  key: accesskey
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: mlflow-minio-secret
                  key: secretkey
          args:
            - server
            - --backend-store-uri
            - postgresql://mlflow_user:mlflow_password@db-service:5432/mlflow_db
            - --artifacts-destination
            - s3://mlflow-artifacts
            - --host
            - 0.0.0.0
            - --port
            - "5000"
