apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpc-server
  labels:
    app: grpc-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grpc-server
  template:
    metadata:
      labels:
        app: grpc-server
    spec:
      containers:
        - name: grpc-server
          image: grpc-server:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 50051

          #          livenessProbe:
          #            exec:
          #              command: ["/usr/local/bin/grpc_health_probe", "-addr=:50051"]
          #            initialDelaySeconds: 5
          #            periodSeconds: 10
          #
          #          readinessProbe:
          #            exec:
          #              command: ["/usr/local/bin/grpc_health_probe", "-addr=:50051"]
          #            initialDelaySeconds: 2
          #            periodSeconds: 5

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
