apiVersion: v1
kind: Service
metadata:
  name: grpc-server
spec:
  type: ClusterIP
  selector:
    app: grpc-server
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP

