apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
data:
  tempo.yaml: |
    server:
      http_listen_port: 3100

    distributor:
      receivers:
        otlp:
          protocols:
            grpc:
            http:

    ingester:
      trace_idle_period: 5s
      max_block_size: 1_000_000
      max_block_duration: 10s

    compactor:
      compaction:
        block_retention: 1h

    querier: {}

    query_frontend: {}

    storage:
      trace:
        backend: s3
        wal:
          path: /tmp/tempo/wal
        s3:
          bucket: tempo-traces
          endpoint: minio:9000
          access_key: minio
          secret_key: minio123
          insecure: true
