apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yaml: |
    global:
      scrape_interval: 10s

    scrape_configs:

      # Prometheus itself
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      # Kubelet / node metrics
      - job_name: 'kubelet'
        scheme: https
        tls_config:
          insecure_skip_verify: true
        kubernetes_sd_configs:
          - role: node

      # Envoy (API Gateway)
      - job_name: 'envoy'
        metrics_path: /stats/prometheus
        static_configs:
          - targets: ['envoy.default.svc.cluster.local:9901']
