apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
data:
  tempo.yaml: |
    server:
      http_listen_port: 3100

    distributor:
      receivers:
        otlp:
          protocols:
            grpc:

    ingester: {}

    compactor: {}

    querier: {}

    query_frontend: {}

    storage:
      trace:
        backend: s3
        wal:
          path: /tmp/tempo/wal
        s3:
          bucket: tempo-traces
          endpoint: minio:9000
          access_key: minio
          secret_key: minio123
          insecure: true

