name: auto-format-yaml

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run yamlfmt (docker)
        run: |
          docker run --rm \
            -v "${PWD}:/work" \
            -w /work \
            ghcr.io/google/yamlfmt:0.20 \
            yamlfmt -conf .config/yamlfmt/config.yml \
            manifests storage dev
      - name: Create PR if changed
        uses: peter-evans/create-pull-request@v6
        with:
          branch: auto/format-yaml
          title: "chore: apply yaml formatting"
          commit-message: "chore: apply yaml formatting"

